* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}


h3 {
    font-weight: 100;
}


.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

.layout {
    padding: 0;
}

.header {
    text-align: center;
    top: auto;
    margin: 3em auto;
    
}

.sidebar {
    background: rgb(61, 79, 93);
    color: #fff;
}


.content-subhead {
    text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.content {
    padding: 2em 1em 0;
}

.info {
    padding-bottom: 2em;
}
.info-header {
    font-size: 2em;
    color: #222;
    margin-bottom: 0.2em;
}

.info-body {
    font-family: Georgia, "Cambria", serif;
    line-height: 1.8em;
    font-size: 90%;
    margin: 0;
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: rgb(61, 79, 93);
    font-size: 80%;
}

.play-body {
    font-family: Georgia, "Cambria", serif;
    line-height: 1.8em;
    font-size: 90%;
    margin: 0;
    margin: 0 0.1em;
    padding: 0.3em 1em;
    color: #fff;
    background: rgb(61, 79, 93);
    font-size: 80%;
}  

img {
    margin: 1em 0;
}


.footer {
    padding: 1em 0;
}





.button-secondary {
    background: rgb(66, 184, 221);
}


.button-xlarge {
    background: rgb(66, 184, 221);

}

.widget-subhead {
    text-transform: uppercase;
    color: #292828;
    border-bottom: 1px solid #eee;
    padding: 0.4em 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}


.question-widget {
    text-transform: uppercase;
    padding: .5em;
    border: 1px solid black;
    font-family: Georgia, "Cambria", serif;
    line-height: 1.8em;
    font-size: 90%;
    margin:0 40px;
    color: black;
    background: rgb(225, 227, 228);
    width: 400px;
    height: 170px
    
}


.photo-box {
    position: relative;
    float: right;
    width: 200px;
    height: 200px;
    background: rgb(225, 227, 228);
    border: 1px solid black;
}


.next-buttons {
    position: relative;
    float: right;
}


